.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


nav {
  padding-top: 20px;
  background-color: aqua;
  display: flex;
  align-items: center;
}

.nav_p {
  margin-left: 30px;
  font-size: 26px;
  float: left;
}

.nav_link {
  flex: 1;
  text-align: right;
  margin-right: 30px;
}

li {
  list-style-type: none;
}

.books {
  background-color:rgb(41, 135, 241);
}
table, th, td {
  border: 1px solid black;
  padding: 15px;
  border-collapse: collapse;
}